<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hbproject.example.mapper.PdMapper">
	

	
	<insert id="createPd" parameterType="Pd">
		INSERT INTO pd (
			p_idx,
			p_name,
			p_number,
			p_price,
			p_cg,
			p_check
			
			
		)  VALUES (
			
			#{p_idx},
			#{p_name},
			#{p_number},
			#{p_price},
			#{p_cg},
			#{p_check}
			
			
		)
	</insert>
	
	
	<select id="selectPd" parameterType="String"  resultType="Pd">
		SELECT		p_idx,
					p_number,
					p_name,
					p_price,
					p_cg,
					p_check
		from 		pd
		<if test="idx != null">
		where p_idx = #{idx}
		</if>
		
	</select>
	
	<select id="selectBoard" parameterType="String"  resultType="Pd">
		SELECT		p_idx,
					p_number,
					p_name,
					p_price,
					p_cg,
					p_check
		from 		pd
		where p_cg like concat(#{idx}, '%')
	
		
	</select>
	
	<delete id="deletePd" parameterType="String">
		delete		
		from 		pd
		where p_idx = '#{idx}%'
		
		
	</delete>
</mapper>

